.product-Detail{
    height: 500px;
    margin:50px auto ;
}

.product-Detail .left-box{
    width: 340px;
    height: 470px;
    background-color:#f1f1f1;
}
.product-Detail .right-box{
    width: 800px;
    height: 500px;
    background-color: pink;
}
.magnifier-container{
    height: 380px !important;
}